nav{
    background-color: rgb(158, 102, 247);
    text-align: center;
}

a{
   color: white;
   font-weight: bold;
   font-family: "apple-system,", sans-serif;}

#signin{
    background-color: rgb(158, 102, 247);
    width: 50%
}

#signin:hover{
    background-color: grey;
    
}

#signup {
    width: 50%;
}
#signup:hover{
    background-color: grey;
    
}
