nav {
  background-color: #0081A7;
  text-align: center;
}

body {
  background-color: #FDFCDC;
  padding-bottom: 70px;
}

a {
  color: white;
  font-weight: bold;
  font-family: "apple-system,", sans-serif;
}

.backbtn {
  background-color: #00AFB9;
  ;
}

#signin {
  background-color: rgb(158, 102, 247);
  width: 50%;
}

#signin:hover {
  background-color: grey;
}

#signup {
  width: 50%;
}

#signup:hover {
  background-color: grey;
}

.eventName {
  font-size: 24px;
  font-weight: bold;
}



/* call to action */
#discover,
#download {
  background-color: rgb(196, 168, 241);
  border-color: rgb(196, 168, 241);
  color: white;
}

#discover:hover,
#download:hover {
  background-color: rgb(126, 62, 228);
  border-color: rgb(126, 62, 228);
}

#changeProfilePic,
#uploadPhotoProfile,
#update {
  background-color: rgb(158, 102, 247);
}

#viewActivity {
  background-color: rgb(158, 102, 247);
}

#logoutButton {
  background-color: #FED9B7;
  font-weight: 600;
}

#logOut {
  background-color: rgb(158, 102, 247);
}

#accountSettings {
  background-color: rgb(158, 102, 247);
}

.seeMore {
  background-color: rgb(158, 102, 247);
  color: white;
}

.card-title {
  font-size: 24px;
  font-weight: 700;
}

.card-text {
  font-size: 18px;
  font-weight: 600;
}

.btn {
  background-color: #F07167;
  border: 0px;
  font-weight: 500;
}

.card-body {
  background-color: #FED9B7;
  font-size: 18px;
  font-weight: 600;

}

.eventDetails {
  font-size: 18px;
  font-weight: 600;
}

footer {
  background-color: #0081A7;

}

.bg_purple_and_hover {
  background-color: #F07167;
  border: 0px;
  font-weight: 500;
}

.bg_purple_and_hover:hover {
  background-color: rgb(196, 168, 241);

}

.outline_purple_and_hover {
  border-color: rgb(158, 102, 247);
  color: rgb(158, 102, 247);
}

.outline_purple_and_hover:hover {
  background-color: rgb(158, 102, 247);
  color: white;
}

a {
  text-decoration: none;
}


.input-group {
  display: flex;
  flex-direction: column;
}

#map {
  width: 100%;
  height: 1000px;
  max-width: 1200px;
  margin: auto;
}


/* #searchResults {
  margin-top: 5px;
  background-color: white; 
  border: 1px solid black; 
  border-radius: 5px; 
  padding: 5px; 
  max-height: 200px; 
  overflow-y: auto;
  color: black;
} */