nav {
  background-color: rgb(158, 102, 247);
  text-align: center;
}

a {
  color: white;
  font-weight: bold;
  font-family: "apple-system,", sans-serif;
}

#signin {
  background-color: rgb(158, 102, 247);
  width: 50%;
}

#signin:hover {
  background-color: grey;
}

#signup {
  width: 50%;
}
#signup:hover {
  background-color: grey;
}

/* call to action */
#discover,
#download {
  background-color:rgb(196, 168, 241);
  border-color: rgb(196, 168, 241);
  color: white;
}

#discover:hover,
#download:hover {
  background-color: rgb(126, 62, 228);
  border-color: rgb(126, 62, 228);
}

#changeProfilePic, #uploadPhotoProfile, #update{
  background-color: rgb(158, 102, 247);
}

#viewActivity {
  background-color: rgb(158, 102, 247);
}

#logOut{
  background-color: rgb(158, 102, 247);
}

#accountSettings{
  background-color: rgb(158, 102, 247);
}

.seeMore{
  background-color: rgb(158, 102, 247);
  color: white;
}

.card-text {
  font-size: 18px;
}

footer {
  background-color:rgb(196, 168, 241);
  
}

.bg_purple_and_hover {
  background-color: rgb(158, 102, 247);
  color: white;
}

.bg_purple_and_hover:hover {
  background-color: rgb(196, 168, 241);
  
}

.outline_purple_and_hover {
  border-color: rgb(158, 102, 247);
  color: rgb(158, 102, 247);
}

.outline_purple_and_hover:hover {
  background-color: rgb(158, 102, 247);
  color: white;
}

a{
  text-decoration: none;
}


.input-group{
  display: flex;
  flex-direction: column;
}

/* #searchResults {
  margin-top: 5px;
  background-color: white; 
  border: 1px solid black; 
  border-radius: 5px; 
  padding: 5px; 
  max-height: 200px; 
  overflow-y: auto;
  color: black;
} */
